body {
  font-family: Helvetica, Arial, sans-serif;
}

.pokelist {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.pokelist > article {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
